@model lz523915_MIS4200.Models.Treatment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Treatment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.treatmentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.treatmentDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.treatmentCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.treatmentCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.treatmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
